<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pallet_id %><br>
    <%= f.text_field :pallet_id %>
  </div>
  <div class="field">
    <%= f.label :deal_code %><br>
    <%= f.text_field :deal_code %>
  </div>
  <div class="field">
    <%= f.label :asin %><br>
    <%= f.text_field :asin %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :spreadsheet %><br>
    <%= f.text_field :spreadsheet %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
