<p id="notice"><%= notice %></p>

<p>
  <strong>Pallet:</strong>
  <%= @item.pallet_id %>
</p>

<p>
  <strong>Deal code:</strong>
  <%= @item.deal_code %>
</p>

<p>
  <strong>Asin:</strong>
  <%= @item.asin %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Spreadsheet:</strong>
  <%= @item.spreadsheet %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
